In [86]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [87]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1024,tt1855199,7000000,48126384,End of Watch,Jake Gyllenhaal|Michael PeÃ±a|Natalie Martinez...,David Ayer,Every moment of your life they stand watch,"Shot documentary-style, this film follows the ...",109,Crime|Drama|Thriller,Emmett/Furla Films|Exclusive Media Group|Hedge...,9/20/2012,7.1,2012
1233,tt1351685,195000000,197687603,Jack the Giant Slayer,Nicholas Hoult|Eleanor Tomlinson|Ewan McGregor...,Bryan Singer,Prepare for a giant adventure,The story of an ancient war that is reignited ...,114,Action|Family|Fantasy,New Line Cinema|Original Film|Legendary Pictur...,2/27/2013,5.5,2013

In [78]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [93]:
answers = {
            '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', 
            '2': 'Gods and Generals (tt0279111)',
            '3': 'Winnie the Pooh (tt1449283)',
            '4': '110',
            '5': '107',
            '6': 'Avatar (tt0499549)',
            '7': 'The Lone Ranger (tt1210819)',
            '8': '1478',
            '9': 'The Dark Knight (tt0468569)',
            '10': 'The Lone Ranger (tt1210819)',
            '11': 'Drama',
            '12': 'Drama',
            '13': 'Peter Jackson',
            '14': 'Robert Rodriguez',
            '15': 'Chris Hemsworth',
            '16': 'Matt Damon',
            '17': 'Action',
            '18': ' K-19: The Widowmaker (tt0267626)',
            '19': '2015',
            '20': '2014',
            '21': 'Сентябрь',
            '22': '450',
            '23': 'Peter Jackson',
            '24': 'Four By Two Productions',
            '25': 'Midnight Picture Show',
            '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
            '27': 'Daniel Radcliffe & Rupert Grint'
        
    
   

         } # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': '110', '5': '107', '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': '1478', '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': ' K-19: The Widowmaker (tt0267626)', '19': '2015', '20': '2014', '21': 'Сентябрь', '22': '450', '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': 'Daniel Radcliffe & Rupert Grint'}

In [140]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
#Create the colums id_title
data['id_title'] = data.apply(lambda x: (x['original_title']+ ' (' + x['imdb_id']+ ')' ), axis = 1)
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,id_title
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,Jurassic World (tt0369610)
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,Mad Max: Fury Road (tt1392190)

In [143]:
data[(data['budget'] == data['budget'].max())]['id_title']

723    Pirates of the Caribbean: On Stranger Tides (t...
Name: id_title, dtype: object

ВАРИАНТ 2

In [5]:
# Проверяем по максимальному значению из describe:
data.describe()['budget']

count    1.889000e+03
mean     5.431083e+07
std      4.858721e+07
min      5.000000e+06
25%      2.000000e+07
50%      3.800000e+07
75%      7.200000e+07
max      3.800000e+08
Name: budget, dtype: float64

In [96]:
data[(data['budget'] == 3.800000e+08)]['id_title']

723    Pirates of the Caribbean: On Stranger Tides (t...
Name: id_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
data[data['runtime'] == data['runtime'].max()]['id_title']

1157    Gods and Generals (tt0279111)
Name: id_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data[data['runtime'] == data['runtime'].min()]['id_title']

768    Winnie the Pooh (tt1449283)
Name: id_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [11]:
round(data['runtime'].mean())

110

In [16]:
data.describe().round()
# Округляем стоимость билета.

            budget       revenue  runtime  vote_average  release_year
count       1889.0  1.889000e+03   1889.0        1889.0        1889.0
mean    54310830.0  1.553653e+08    110.0           6.0        2008.0
std     48587207.0  2.146698e+08     18.0           1.0           4.0
min      5000000.0  2.033165e+06     63.0           3.0        2000.0
25%     20000000.0  3.456058e+07     97.0           6.0        2004.0
50%     38000000.0  8.361541e+07    107.0           6.0        2008.0
75%     72000000.0  1.782626e+08    120.0           7.0        2012.0
max    380000000.0  2.781506e+09    214.0           8.0        2015.0

# 5. Каково медианное значение длительности фильмов?

In [51]:
data.median().runtime

107.0

In [52]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале profit = revenue - budget
data['profit'] = data.apply(lambda x: (x['revenue'] - x['budget']), axis = 1)
#data.head(2)

In [25]:
# Выводим ячейку, соответствующую столбцу id_title в строке с максимальным значением столбца profit
data[data['profit'] == data['profit'].max()]['id_title']

239    Avatar (tt0499549)
Name: id_title, dtype: object

# 7. Какой фильм самый убыточный?

In [27]:
# Выводим ячейку, соответствующую столбцу id_title в строке с минимальным значением столбца profit

data[data['profit'] == data['profit'].min()]['id_title']

1245    The Lone Ranger (tt1210819)
Name: id_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
# группируем по (['profit'] > 0)
data[data['profit'] > 0]['original_title'].value_counts().sum()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [82]:
# Группируем по году, затем выделяем строку с максимальным доходом из этой группы
data[(data.revenue == data[(data.release_year == 2008)].revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,id_title,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,The Dark Knight (tt0468569),816921825

In [30]:
# Можно вывести отдельно 'id_title'
data[(data.revenue == data[(data.release_year == 2008)].revenue.max())]['id_title']

599    The Dark Knight (tt0468569)
Name: id_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
# Группируем по годам и применяем минимум по доходу
cs_12_14 = data[((data.release_year>=2012) & (data.release_year<=2014))].profit.min()
# Выводим строку с минимальным значением в сторбце profit
data[(data.profit == cs_12_14)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,id_title,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,The Lone Ranger (tt1210819),-165710090

In [31]:
# Можно вывести отдельно 'id_title'
data[(data.profit == cs_12_14)]['id_title']

1245    The Lone Ranger (tt1210819)
Name: id_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [33]:
# Превращаем все в одну строку с помощью .str.cat(sep='|'). 
#Разделяем в строке значения жанров по '|' в столбце genres, получаем список
genres = data['genres'].str.cat(sep='|').split('|')
# Из списка создаем серию
genres_series = pd.Series(genres)
# value_counts() возвращает серию, содержащую количество уникальных значений в порядке убывания
genres_series.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
#Решение аналогично 11 заданию, но за основу берется датафрейм, в котором только прибыльные фильмы
data_profit = data[data.profit>0]

In [37]:
#Разделяем в строке значения жанров по '|' в столбце genres, получаем список
genres_profit = data_profit['genres'].str.cat(sep='|').split('|')

In [38]:
# Из списка жанров прибыльных фильмов создаем серию
gnr_profit_series = pd.Series(genres_profit)

In [39]:
# Какой жанр встречается чаще всего в фильмах, где profit>0
# value_counts() возвращает серию, где первый элемент является ответом
gnr_profit_series.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [40]:
"""
    В функции director_revenue(df) создается словарь, в котором ключи - имена режиссеров, если 
    режиссеров несколько, то они разделяются по '|'. Проходимся по датафрейму и заполняем словарь, 
    увеличивая значение того или иного ключа в каждой итерации цикла этой строкой: 
    summ[j] += df.iloc[i].revenue 
    После чего возвращаем датафрейм, который построен исходя из данных словаря, ключи словаря 
    стали индексами датафрейма, а значения - значениями колонки Summ, сортируем по Summ
"""
def director_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].director.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])
display(director_revenue(data[data.revenue > 0]).sort_values(by=['Summ'], ascending = False))

                         Summ
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [47]:
# СПОСОБ 1
grouped_action = data[data.genres.str.contains("Action", na=False)]
# Некоторые фильмы могут быть сняты несколькими режиссерами, поэтому в некоторых 
# строках имена режиссеров разделены '|'. Используем метод из предыдущих заданий
grouped_action['director'].str.split('|',expand=True).stack().value_counts()

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Antoine Fuqua          6
Ridley Scott           6
                      ..
Terry Gilliam          1
Howard McCain          1
Andy Tennant           1
Ernest R. Dickerson    1
Jan de Bont            1
Length: 364, dtype: int64

In [46]:
# СПОСОБ 2, с помощью универсального счетчика и датафрейма, сгруппированного по жанру "Action"
# Сортируем датафрейм по наличию жанра "Action" в столбце genres
grouped_action = data[data.genres.str.contains("Action", na=False)]
# Некоторые фильмы могут быть сняты несколькими режиссерами, и в таких строках имена 
# режиссеров разделены '|'. 
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
# Создаем series, где индексом будет - имя режиссера, а затем проходимся по отсортированному 
# датафрейму и проверяем, если этот индекс есть в столбце director, то записываем этот 
# фильм "на счет" режиссера
director_actions = counter(grouped_action, 'director')
director_actions

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Antoine Fuqua          6
Ridley Scott           6
                      ..
Terry Gilliam          1
Howard McCain          1
Andy Tennant           1
Ernest R. Dickerson    1
Jan de Bont            1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
# СПОСОБ 1, с помощью функции и DataFrame отсортированного по 2012 году и revenue > 0
grouped_2012 = data[(data['release_year'] == 2012)]
# Используем функцию счетчика из задачи 13
def cast_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].cast.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])
# Применяем функцию к отсортированному датафрейму по 2012 году и revenue > 0
display(cast_revenue(grouped_2012[grouped_2012.revenue > 0]).sort_values(by=['Summ'], ascending = False))

                         Summ
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Jason Bateman         3428048
Nicolas Cage          2106557
Sami Gayle            2106557
Josh Lucas            2106557
Danny Huston          2106557

[466 rows x 1 columns]

In [50]:
# СПОСОБ 2
# берем копию исходного датафрейма:
df = data.copy()
#Создаем в ней столбец с разделенными значениями актеров:
df['new_cast'] = data[data.release_year == 2012]['cast'].str.split('|')
#Преобразуем каждый элемент списка в строку:
df = df.explode('new_cast')
# группируем по значению выручки:
df.groupby(by = 'new_cast')['revenue'].agg('sum').sort_values(ascending=False)

new_cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [77]:
# СПОСОБ 1
# Сортируем датафрейм по фильмам с бюджетом выше среднего
hi_budget = data[data['budget'] > data['budget'].mean()]
# Выводим серию по .value_counts() от количества фильмов с каждым актером (из отсортированного датафрейма)
hi_budget['cast'].str.split('|',expand=True).stack().value_counts()

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Tom Cruise                15
Eddie Murphy              15
                          ..
Alexander SkarsgÃ¥rd       1
Jason Biggs                1
Thomas Brodie-Sangster     1
David Zayas                1
Maleah Nipay-Padilla       1
Length: 1505, dtype: int64

In [78]:
# СПОСОБ 2
# берем копию отсортированного по высокобюджетности датафрейма:
df = hi_budget.copy()
#Создаем в ней столбец с разделенными значениями актеров:
df['new_cast'] = hi_budget['cast'].str.split('|')
#Преобразуем каждый элемент списка в строку:
df = df.explode('new_cast')
df['new_cast'].value_counts()

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Tom Cruise                15
Eddie Murphy              15
                          ..
Alexander SkarsgÃ¥rd       1
Jason Biggs                1
Thomas Brodie-Sangster     1
David Zayas                1
Maleah Nipay-Padilla       1
Name: new_cast, Length: 1505, dtype: int64

In [52]:
# СПОСОБ 3 с использованием функции универсального счетчика из задачи 14
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
# В счетчике используем датафрейм, отсортированный по фильмам с бюджетом выше среднего 
# и значения столбца cast
hi_budget = data[data['budget'] > data['budget'].mean()]
sum_gen = counter(hi_budget, 'cast')
sum_gen

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Samuel L. Jackson         15
Eddie Murphy              15
                          ..
Heike Makatsch             1
Mo Zinal                   1
Roger Ashton-Griffiths     1
Leehom Wang                1
Kaley Cuoco                1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
# СПОСОБ 1
# Сортируем датафрейм по наличию в столбце cast "Nicolas Cage"
groupe_cage = data[data.cast.str.contains("Nicolas Cage", na=False)]
# Выводим из отсортированного датафрейма Series value_counts() по количеству фильмов
groupe_cage['genres'].str.split('|',expand=True).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

In [51]:
# СПОСОБ 2 по аналогии со СПОСОБОМ 2 из Задания 16
# берем копию отсортированного по Nicolas Cage датафрейма:
df_cage = data[data.cast.str.contains("Nicolas Cage", na=False)]
df_17 = df_cage.copy()

#Создаем в ней столбец с разделенными значениями жанров:
df_17['new_genres'] = df_cage['genres'].str.split('|')
#Преобразуем каждый элемент списка в строку:
df_17 = df_17.explode('new_genres')
# группируем:
df_17['new_genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: new_genres, dtype: int64

In [53]:
# СПОСОБ 3 с использованием функции универсального счетчика из задачи 14
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info

# В счетчике используем датафрейм, отсортированного по "Nicolas Cage" датафрейма:
df_cage = data[data.cast.str.contains("Nicolas Cage", na=False)]
sum_gen = counter(df_cage, 'genres')
sum_gen

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
# Сортируем датафрейм о наличию Paramount Pictures в production_companies
grouped_paramount = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
# Самый убыточный среди отсортированных по Paramount
grouped_paramount[grouped_paramount['profit'] == grouped_paramount['profit'].min()]['id_title']

925    K-19: The Widowmaker (tt0267626)
Name: id_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [100]:
data.groupby('release_year')['revenue'].sum().idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [57]:
# Выводим индекс первого значения максимума по столбцу 'profit' 
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().idxmax()
# DataFrame отсортирован по наличию 'Warner Bros' в production_companies и сгруппирован годам
# В ответе выводим ячейку года, соответствующего максимальнуму доходу для Warner Bros

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [59]:
#  Приводим release_date к нужному формату
data['release_date'] = pd.to_datetime(data['release_date'])

In [60]:
# Обращаемся конкретно к месяцам и подсчитываем количество значений для каждого из них
data.release_date.dt.month.value_counts()
# Числу 9 соответствует месяц сентябрь

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [67]:
# СПОСОБ 1
#  Приводим release_date к нужному формату
data['release_date'] = pd.to_datetime(data['release_date'])
# Сортируем датафрейм, оставляя в нем только летние месяцы
summer_data = data[data.release_date.dt.month.isin([6, 7, 8,])]
#Смотрим количество imdb_id в summer_data.info()
#summer_data.info()
# Либо выводим это число на экран
summer_data.imdb_id.count()

450

In [62]:
# СПОСОБ 2
s = data.release_date.dt.month.value_counts()
#s возвращает серию, преобразуем ее в DataFrame
df1 = s.to_frame(name='total_films').reset_index()
df1

    index  total_films
0       9          227
1      12          190
2      10          186
3       8          161
4       3          156
5       4          149
6       6          147
7      11          146
8       7          142
9       5          140
10      2          135
11      1          110

In [63]:
# индексами месяцев 6, 7 и 8 являются  6, 8 и 3
df1[(df1.index == 3) + (df1.index == 6) + (df1.index == 8)].sum()

index           21
total_films    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [118]:
# Приводим даты к нужному виду
data['release_date'] = pd.to_datetime(data['release_date'])
# Создаем группу по зимним месяцам
df_winter = data[data.release_date.dt.month.isin([12, 1, 2])]
# Выводим серию по колонке director:
df_winter['director'].str.split('|',expand=True).stack().value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
                    ..
Dewey Nicks          1
Andy Fickman         1
Tim Story            1
Lana Wachowski       1
Joel Coen            1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [68]:
# алгоритм функции counter для подсчета количества упоминаний каждой из студий 
# (счетчик, уже используемый в задачах 14, 16, 17). 
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
    #берем усредненное значение названий фильмов для каждой студии, поэтому используем mean())
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                             0
Four By Two Productions     12
Jim Henson Company, The     10
The Saul Zaentz Company      9
Dos Corazones                9
Polsky Films                 9
...                         ..
Zanagar Films                1
Entertainment One Features   1
Jolie Pas                    1
Hollywood Partners           1
Wildgaze Films               1

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
# Решение задания 25 аналогичное 24. Только вместо подсчета data['title_words_length'] 
# считаем количество слов в столбце overview
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
data['overview_length'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['overview_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                                         0
Midnight Picture Show                  175
Room 9 Entertainment                   161
Heineken Branded Entertainment         161
98 MPH Productions                     159
Brookwell-McNamara Entertainment       156
...                                    ...
Projection Pictures                     13
Our Stories Films                       13
Henceforth                              13
Motion Picture Corporation of America   11
Empire Pictures                         11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
# Используем quantile
data_1pourcent = data[data['vote_average'] > data['vote_average'].quantile(0.99)][['vote_average', 'original_title']]
data_1pourcent

      vote_average                                 original_title
9              8.0                                     Inside Out
34             8.0                                           Room
118            8.0                                   Interstellar
119            7.9                        Guardians of the Galaxy
125            8.0                             The Imitation Game
128            7.9                                      Gone Girl
138            7.9                       The Grand Budapest Hotel
370            7.9                                      Inception
599            8.1                                The Dark Knight
872            7.9                                    The Pianist
1081           7.9  The Lord of the Rings: The Return of the King
1183           7.9                        The Wolf of Wall Street
1191           7.9                               12 Years a Slave
1800           7.9                                        Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [90]:
# СПОСОБ 1
# Импортируем  combinations
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
   for j in combinations(i, 2):
       combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Ben Stiller Owen Wilson             6
Johnny Depp Helena Bonham Carter    6
Adam Sandler Kevin James            5
Robert Pattinson Taylor Lautner     5
Kristen Stewart Robert Pattinson    5
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Name: actor_combinations, dtype: int64

In [97]:
# СПОСОБ 2
#actors = Counter()
#for x in data.cast.str.split('|'):
#    actors += Counter(combinations(x, 2))
#for actor, count in actors.most_common():
#    print(actor, count)

# Submission

In [94]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [95]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [96]:
answers = {
            '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', 
            '2': 'Gods and Generals (tt0279111)',
            '3': 'Winnie the Pooh (tt1449283)',
            '4': '110',
            '5': '107',
            '6': 'Avatar (tt0499549)',
            '7': 'The Lone Ranger (tt1210819)',
            '8': '1478',
            '9': 'The Dark Knight (tt0468569)',
            '10': 'The Lone Ranger (tt1210819)',
            '11': 'Drama',
            '12': 'Drama',
            '13': 'Peter Jackson',
            '14': 'Robert Rodriguez',
            '15': 'Chris Hemsworth',
            '16': 'Matt Damon',
            '17': 'Action',
            '18': ' K-19: The Widowmaker (tt0267626)',
            '19': '2015',
            '20': '2014',
            '21': 'Сентябрь',
            '22': '450',
            '23': 'Peter Jackson',
            '24': 'Four By Two Productions',
            '25': 'Midnight Picture Show',
            '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
            '27': 'Daniel Radcliffe & Rupert Grint'
         }
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': '110', '5': '107', '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': '1478', '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': ' K-19: The Widowmaker (tt0267626)', '19': '2015', '20': '2014', '21': 'Сентябрь', '22': '450', '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': 'Daniel Radcliffe & Rupert Grint'}